*{
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
  background-color: #222222;
  color: #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

nav{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222228;
  border-bottom: 1px solid #fff;
}
nav .container{
  width: 98%;
  height: inherit;    
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

nav .logo{
  width: 60px;
  height: 41px;
  border-radius: 10px;
}

nav .logo:hover{
  box-shadow: 0 0 px #fff;
}

.PageList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  list-style: none;
  text-decoration: none;  
  width: 170px;
}

.PageList li a{
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  user-select: none;
}

.PageList li a:hover{
  text-shadow: 0 0 5px #fff;
}

nav .login {
  width: 100px;
  height: 50px;
  background-color: #222228;
  transition: all 0.2s ease-in-out;
}

nav .login:hover {
  border-left: 1px solid white;
}

nav .login p{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  user-select: none;
}

nav .login p:hover{
  text-shadow: 0 0 5px #fff;
}

main{
  width: 100%;
  height: auto;
  padding-bottom: 15vh;
  display: flex;
  justify-content: center;
  background-color: #151515;
  flex: 1;
}

main .Container{
  width: inherit;
}

.main_img{
  background: url(/Images/фон.png);
  background-size: cover;
  background-position: cover;
  width: 100%; 
  height: 50vh; 
  display: flex;
  align-items: center; 
}

.main_txt{
  margin-left: 8vh;
  display: flex;
  flex-direction: row;
}

.main_img h2{
  margin-left: 20px;
  color: white; 
  font-size: 52px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.container_main{
  display: flex;
  align-items: center;
  border-top: 1px solid #FFF;
  padding-bottom: 50px;

}

.about_curse {
  height: auto;
  padding-top: 5vh;
  padding-left: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1400px;
  height: auto;
}

.buttons{
  margin-top: 40px;
  display: flex;
  flex-direction: column;  
}

.buttons a{
  color: #000;
  text-decoration: none;
}

.btn_join{
  width: 200px;
  height: 80px;
  background-color: #32DC6F;
  border-radius: 20px;
  transition: all 0.1s ease-in;
}

.btn_join a{
  color: #000;
  font-size: 17px;
  font-weight: bold;
}

.btn_join p{
  color: #000;
  font-size: 17px;
  font-weight: bold;
}

.btn_join:hover{
  transform: scale(1.2);
  box-shadow: 0 0 5px #32DC6F;
}

.btn_more{
  width: 200px;
  height: 65px;
  background-color: #535353;
  border-radius: 20px;
  margin-top: 20px;
  transition: all 0.1s ease-in;
}

.btn_more a{
  color: #FFF;
  font-size: 17px;
  font-weight: bold;
}

.btn_more:hover{
  transform: scale(1.2);
  box-shadow: 0 0 5px #FFF;
}

.info{
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
}

.info_head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info_head h3{
  color: #FFF;
  font-size: 25px;
}

.diff{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  
}

.diff p{
  margin-left: 10px;
  font-size: 20px;
}

.difficult{
  font-size: 20px;
  color: #bbb;
}

.info_main{
  margin-top: 20px;
}

.info_main p{
  font-size: 25px;
}

footer{
  width: 100%;
  height: auto;
  background-color: #070707;
  display: flex;
  justify-content: center;
  
}

footer .container{
  width: 95%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 40px;
}
.foot-menu{
  list-style: none;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
}

span{
  width: 370px;
  height: 1px;
  background-color: #fff;
}

.foot-menu li{
  margin-top: 5px;
}

.foot-menu li a{
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  user-select: none;
}

.foot-menu li a:hover{
  text-decoration: underline;
}

footer .container p{
  font-size: 17px;
  margin: 5px;
  font-weight: lighter;
  user-select: none;
}

.container-auth-login, .container-auth-register{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px white;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323235;
  z-index: 4;
}

.exit {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 90%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.exit:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.exit span {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0);
  transform-origin: center;
}

.exit span::before, .exit span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background: white;
  transform-origin: center;
}

.exit span::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.exit span::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}


.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

h1{
  margin-top: 20px;
  text-shadow: 0 0 70px white;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.auth_form{
  height: 200px
}

.reg_form{
  height: 250px;
}

form input{
  width: 300px;
  height: 40px;
  padding-left: 20px;
  background-color: #808080;
  border-radius: 10px;
  border: 1px solid #202020;
  margin-bottom: 20px;
}
form .btn{
  width: 250px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  border-radius: 10px;
  background-color: #32DC6F;
  transition: all 0.1s ease-in-out;
}

form .btn:hover{
  transform: scale(1.1);
}

form .btn p{
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.btn-sec{
  width: 250px;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  border-radius: 10px;
  background-color: #303030;
  transition: all 0.1s ease-in-out;
}

.btn-sec:hover{
  transform: scale(1.1);
  box-shadow: 0 0 5px white;
}

.btn-sec p{
  font-size: 17px;
  color: white;
  font-weight: bold;
}
